* {
    box-sizing: border-box;
  }

.main{
    display:flex;
    flex-direction: column;
}

.inputtext{
  text-align: center;
}

table{
  width: 100%;
}

table, th, td {
    border-collapse: collapse;    
  }

  th{    
      border-top:1px solid #dddddd;
  }  

  tr,.borderthin{
    border-bottom: 1px solid #dddddd;
  }

  .downborder{
    border-bottom: 4px solid #dddddd;
  }

  .upborder{
    border-bottom: 4px solid #dddddd;
    padding-bottom: 5vh;
  }
  
  td, th {
    vertical-align:top;
    text-align: left;
  }

  .highlight th, td {
      padding-top: 15px; 
      padding-bottom:15px
    }
  
.align{
    display: flex;
    font-size: 1rem;
}

.small {
    font-size:xx-small;
}

.disablemarginbottom{
    margin-bottom: 0;
}

.disablemargintop{
    margin-top: 0;
}

nav {
    float: left;
    width: 30%;
    padding: 20px;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
    color: slategrey;
  }

article {
    float: right;
    padding: 20px;
    width: 70%;
  }

.right{
    float: right;
}

.line{
    text-decoration-line: underline;
}
  
  /* Clear floats after the columns */
  section:after {
    content: "";
    display: table;
    clear: both;
  }

  
  .fontColor{
    color: slategrey;
  }

  .noshow{
    display: none;
  }

  .promobutton{
    background-color: white;
    border: 0.2vh solid black;
    color:slategrey;
    padding:4.2px;
  }

  .promotext{
    padding:4px;
  }

  .button {
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button2 {background-color: #008CBA;} /* Blue */

  .toend{
    align-items: flex-end;
  }

  @media screen and (max-width: 540px) {
    table, tbody, thead, tbody, th, td, tr {
      display: block;
      float:left;/* ie9 fix */
      width:100%;
      clear:both;
    }
    thead {
     display: none
    }

    .magic{
      position: absolute;
    }

    td{
      font-size: 0.7rem;
      padding-top: 0.3em;
      padding-bottom: 0;
    }

    .frst{
    top: 9rem;
    left: 10rem;
    }

    h2{
      border-bottom: 4px solid #dddddd;
    }

    .scnd{
      top: 10.1rem;
      left: 10rem;
    }

    .thrd{
      top: 11.8rem;
    left: 10rem;
    }

    .align{      
      font-size: 0.7rem;
    }

    nav{
      display: none;
    }

    article {      
      width: 75%;
      padding: 0;
      margin: auto;
      float: none;
    }

    .upborder{
      border-bottom: 1px solid #dddddd;
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 2vh;
    }
    .downborder{
      border-bottom: 1px solid #dddddd;
    }



    .responsive{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .line{
      text-decoration-line: underline;
      order:2;
      margin-bottom: 6px;
    }

  .toend{
    align-items: center;
    border-bottom: 1px solid #dddddd;    
  }

  .noshow{
    display: block;
  }

    .right{
      padding: 2px;
    }
  }