* {
    box-sizing: border-box;
  }

.main{
    display:flex;
    flex-direction: column;
}

h2{
  text-align: center;
}

table{
  width: 100%;
}

table, th, td {
    border-collapse: collapse;    
  }

  th{    
      border-top:1px solid #dddddd;
  }  

  tr,.borderthin{
    border-bottom: 1px solid #dddddd;
  }

  .downborder{
    border-bottom: 4px solid #dddddd;
  }

  .upborder{
    border-bottom: 4px solid #dddddd;
    padding-bottom: 5vh;
  }
  
  td, th {
    vertical-align:top;
    text-align: left;
  }

  tr.highlight th, td {
      padding-top: 15px; 
      padding-bottom:15px
    }
  
.align{
    display: flex;
}

.small {
    font-size:xx-small
}

.disablemarginbottom{
    margin-bottom: 0;
}

.disablemargintop{
    margin-top: 0;
}

nav {
    float: left;
    width: 30%;
    padding: 20px;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
    color: slategrey;
  }

article {
    float: right;
    padding: 20px;
    width: 70%;
  }

.right{
    float: right;
}

.line{
    text-decoration-line: underline;
}
  
  /* Clear floats after the columns */
  section:after {
    content: "";
    display: table;
    clear: both;
  }

  .fontColor{
    color: slategrey;
  }

  .promobutton{
    background-color: white;
    border: 0.2vh solid black;
    color:slategrey;
    padding:4.2px;
  }

  .promotext{
    padding:4px;
  }

  .button {
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button2 {background-color: #008CBA;} /* Blue */

  .toend{
    align-items: flex-end;
  }

