* {
    box-sizing: border-box;
  }

.main{
    display:flex;
    flex-direction: column;
}

.inputtext{
  text-align: center;
}

table{
  width: 100%;
}

table, th, td {
    border-collapse: collapse;    
  }

  th{    
      border-top:1px solid #dddddd;
  }  

  .reduceWidth{
    width: 1em;
  }

  tr,.borderthin{
    border-bottom: 1px solid #dddddd;
  }

  .downborder{
    border-bottom: 4px solid #dddddd;
  }

  .upborder{
    border-bottom: 4px solid #dddddd;
    padding-bottom: 5vh;
  }
  
  td, th {
    vertical-align:top;
    text-align: left;
  }

  .highlight th, td {
      padding-top: 15px; 
      padding-bottom:10px;
    }
  
.align{
    display: flex;
    font-size: 1rem;
}

.small {
    font-size:xx-small;
}

.disablemarginbottom{
    margin-bottom: 0;
}

.disablemargintop{
    margin-top: 0;
}

.paddingTop{
  padding-top: 4.3rem;
}


nav {
    float: left;
    width: 30%;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    color: slategrey;
  }

article {
    float: right;
    padding: 20px;
    width: 70%;
  }

.right{
    float: right;
}

.line{
    text-decoration-line: underline;
}
  
  /* Clear floats after the columns */
  section:after {
    content: "";
    display: table;
    clear: both;
  }

  

  
  .fontColor{
    color: slategrey;
  }

  .noshow{
    display: none;
  }

  .promobutton{
    background-color: white;
    border: 0.2vh solid black;
    color:slategrey;
    padding:4.2px;
  }

  .promotext{
    padding:4px;
  }
  
  .button {
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button2 {background-color: #008CBA;} /* Blue */

  .toend{
    align-items: flex-end;
  }

  .paddingRight{
    padding-right: 10px;
  }

  @media screen and (max-width: 540px) {

     thead {
     display: none
    }

    tr{
      height: fit-content;
    }

    table td{
      font-size: 0.7rem;
      padding-top: 2.5em;
      padding-bottom: 6vw;
      
    }

    h2{
      border-bottom: 4px solid #dddddd;
    }

    .width{
      width: 50%;
    }

    .setdesc{
      width: auto;
      clear: right;
    }

   

    .align{ 
      display: block;     
      font-size: 0.7rem;
    }

    nav{
      display: none;
    }

    article {      
      width: 75%;
      padding: 0;
      margin: auto;
      float: none;
    }

    .promotext{
      padding: 4px;
      margin: 1px;
      margin-right: 3px;
    }

    .upborder{
      border-bottom: 1px solid #dddddd;
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 3vh;
    }
    .downborder{
      border-bottom: 1px solid #dddddd;
    }

    .hide{
      display: none;
    }

    .setbutton{
      position: absolute;
      padding-bottom: 0;
      padding-top: 0;
      left: 20vw;
    }


    .responsive{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .line{
      text-decoration-line: underline;
      order:2;
      margin-bottom: 6px;
    }

  .toend{
    align-items: center;
    border-bottom: 1px solid #dddddd;    
  }

  .noshow{
    display: block;
  }

  

    .right{
      padding: 2px;
    }
  }